<!DOCTYPE html>
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
  </head>
  <body>
    <header class="container-fluid bg-info">
      <div class="row text-white">
        <div class="col-md-6 col-7 p-3">
          <!--add logo-->

          <h2>TRIP PLANNER</h2>
        </div>
        <div class="col-md-6 col-5 my-auto">
          <nav class="navbar navbar-expand-lg bg-info">
            <div class="container-fluid">
              <button
                class="navbar-toggler ms-auto mb-2 mb-lg-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <!-- <a
                      class="nav-link active text-white"
                      aria-current="page"
                      href="#"
                      >Home</a
                    > -->
                      <a href="/usercontribution/addspot">
                      <button
                      class="nav-b btn btn-outline-secondary me-2"
                      type="button"
                    >
                      Add New Spots
                    </button>
                      </a>
                    
                  </li>
                  
                  <li class="nav-item">
                    <!--<a
                      class="nav-link active text-white"
                      aria-current="page"
                      href="#"
                      >Add New Sports</a
                    > -->
                    <a href="/usercontribution/addreview">
                      <button
                      class="nav-b btn btn-outline-secondary me-2"
                      type="button"
                    >
                      Review
                    </button>
                    </a>
                    
                  </li>
                  <li class="nav-item">
                    <!-- <a
                      class="nav-link active text-white"
                      aria-current="page"
                      href="#"
                      >Review</a
                    > -->
                    <a href="logout">
                      <button
                      class="nav-b btn btn-outline-secondary me-2"
                      type="button"
                    >
                      Logout
                    </button>
                    </a>
                    
                  </li>
                  <li class="nav-item">
                    <!-- <a
                      class="nav-link active text-white"
                      aria-current="page"
                      href="#"
                      >Review</a
                    > -->
                    <a href="accountview">
                      <button
                      class="nav-b btn btn-outline-secondary me-2"
                      type="button"
                    >
                      Account
                    </button>
                    </a>
                    
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <section class="dashboard">
      <!--  <h2>User Dashboard</h2>   -->
      <!--
        <form action="{% url 'packageview' %}" method="POST">
        {% csrf_token %}
        <label for="budget">Budget:</label><br />
        
        <select name="budget" id="budget" required="">
          <option value="">Select budget</option>
          {% for price in pricelist %}
          <option value="{{price}}">{{price}}</option>
          {% endfor %}
        </select>
        <br />
        <label for="destination">Destination(optional):</label><br />
        <select name="destination" id="destination" >
          <option value="">Select Destination</option>
          {% for place in destinationlist %}
          <option value="{{place}}">{{place}}</option>
          {% endfor %}
        </select>
        <br />

        <button class="submit" type="submit">Search</button>
      </form>
      -->
      
      <form action="{% url 'packageview' %}" method="POST">
        {% csrf_token %}
        <label for="day">Day:</label><br />
        
        <select name="day" id="day" required="">
          <option value="">Select days</option>
          {% for day,dayvalue in daylist.items %}
          <option value="{{dayvalue}}">{{day}}</option>
          {% endfor %}
        </select>
        <br />
        <label for="destination">Destination(optional):</label><br />
        <select name="destination" id="destination" required="">
          <option value="">Select Destination</option>
          {% for place in destinationlist %}
          <option value="{{place}}">{{place}}</option>
          {% endfor %}
        </select>
        <br />

        <button class="submit" type="submit">Search</button>
      </form>
    </section>

    <!-- Additional sections and features can be added here -->

    <footer>
      <p>&copy; Trip Planner</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>