{% load static %}
{% static "images" as baseUrl%}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tour packages</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/tourpackages.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
  <header class="container-fluid bg-info">
    <div class="row text-white">
      <div class="col-md-6 col-7 p-3">
        <!--add logo-->

        <h2>TRIP PLANNER</h2>
      </div>
      <div class="col-md-6 col-5 my-auto">
        <nav class="navbar navbar-expand-lg bg-info">
          <div class="container-fluid">
            <button
              class="navbar-toggler ms-auto mb-2 mb-lg-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <!-- <a
                    class="nav-link active text-white"
                    aria-current="page"
                    href="#"
                    >Home</a
                  > -->
                    <a href="/usercontribution/addspot">
                    <button
                    class="nav-b btn btn-outline-secondary me-2"
                    type="button"
                  >
                    Add New Spots
                  </button>
                    </a>
                  
                </li>
                
                <li class="nav-item">
                  <!--<a
                    class="nav-link active text-white"
                    aria-current="page"
                    href="#"
                    >Add New Sports</a
                  > -->
                  <a href="/usercontribution/addreview">
                    <button
                    class="nav-b btn btn-outline-secondary me-2"
                    type="button"
                  >
                    Review
                  </button>
                  </a>
                  
                </li>
                <li class="nav-item">
                  <!-- <a
                    class="nav-link active text-white"
                    aria-current="page"
                    href="#"
                    >Review</a
                  > -->
                  <a href="logout">
                    <button
                    class="nav-b btn btn-outline-secondary me-2"
                    type="button"
                  >
                    Logout
                  </button>
                  </a>
                  
                </li>
                <li class="nav-item">
                  <!-- <a
                    class="nav-link active text-white"
                    aria-current="page"
                    href="#"
                    >Review</a
                  > -->
                  <a href="accountview">
                    <button
                    class="nav-b btn btn-outline-secondary me-2"
                    type="button"
                  >
                    Account
                  </button>
                  </a>
                  
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <div class="top-part">
    <h1>TOUR PACKAGES</h1>
  </div>
  
  <br>
  <br>

  <!--for test purpose-->

  <div class="top-part">
    <h2>{{day}}s</h2>
  </div>
  <br>
  <br>
  <div class="container page-container">
    <div class="row">
      <div class="col custom-col-2">
        <div class="landscape-filter-part">
          <h5>CHOOSE YOUR LANDSCAPE</h5>
          <form class="filter-form-div" id="filterForm" action="packageview" method="POST">
            {% csrf_token %}
            <h4><label><input type="checkbox" name="filter" value="Temple"> Temple</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Beach"> Beach</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Park"> Park</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Museum"> Museum</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Waterfalls"> Waterfalls</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Hill"> Hill</label></h4>
            
            <button type="submit" name="filterform">Apply Filters</button>
          </form>
        </div>
      </div>
      
      <div class="col custom-col">
        {% for packagecode,packagedetailslist in mainpackagedictcopy.items %}
        <div class="container">
          <h4>Package:{{packagecode}}</h4></li>
          <br>
          <br>
          <div class="row row-cols-3">  
            <br>
            {% for package in packagedetailslist %}
            <div class="col">
                  <h5>{{ package.5 }}</h5>
                  <ul type="square">
                    <li type="none">
                      <br>
                      <img src="{{package.10.url}}" alt="no image found" style="height: 150px; width:150px;"></li>
                    <li>Location    :{{package.6}}</li>
                    <li>Landscape   :{{package.7}}</li>
                    <li>Cafespot    :{{package.8}}</li>
                    <li>Description :{{package.9}}</li>
                    <br>
                  </ul>
            </div> 
            {% endfor %}
          </div>
        </div>
        <div class="select-package-button-part">
          <form method="post" action="packageview">
            {% csrf_token %}
            <input type="hidden" name="package_code" value="{{ packagecode }}">
            <button
            class="nav-b btn btn-outline-secondary me-2"
            type="submit"
            name="itinerary"
          >
            Select Package
          </button>
          </form>
        </div>
        <br><br>
        {% endfor %}
      </div>
      
      <br>
    </div> 
  </div>

  <!-- for test-->



  <!--FOR 1 DAY PACKAGES-->
  {% if day == '1' %}
  <div class="top-part">
    <h2>1 DAY PACKAGES</h2>
  </div>
  <br>
  <br>
  <div class="container page-container">
    <div class="row">
      <div class="col custom-col-2">
        <div class="landscape-filter-part">
          <h5>CHOOSE YOUR LANDSCAPE</h5>
          <form class="filter-form-div" id="filterForm" action="packageview" method="POST">
            {% csrf_token %}
            <h4><label><input type="checkbox" name="filter" value="Temple"> Temple</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Beach"> Beach</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Park"> Park</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Museum"> Museum</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Waterfalls"> Waterfalls</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Hill"> Hill</label></h4>
            
            <button type="submit" name="filterform">Apply Filters</button>
          </form>
        </div>
      </div>
      
      <div class="col custom-col">
        {% for packagecode,packagedetailslist in mainpackagedictcopy.items %}
        <div class="container">
          <h4>Package:{{packagecode}}</h4></li>
          <br>
          <br>
          <div class="row row-cols-3">  
            <br>
            {% for package in packagedetailslist %}
            <div class="col">
                  <h5>{{ package.5 }}</h5>
                  <ul type="square">
                    <li type="none">
                      <br>
                      <img src="{{package.10.url}}" alt="no image found" style="height: 150px; width:150px;"></li>
                    <li>Location    :{{package.6}}</li>
                    <li>Landscape   :{{package.7}}</li>
                    <li>Cafespot    :{{package.8}}</li>
                    <li>Description :{{package.9}}</li>
                    <br>
                  </ul>
            </div> 
            {% endfor %}
          </div>
        </div>
        <div class="select-package-button-part">
          <form method="post" action="packageview">
            {% csrf_token %}
            <input type="hidden" name="package_code" value="{{ packagecode }}">
            <button
            class="nav-b btn btn-outline-secondary me-2"
            type="submit"
            name="itinerary"
          >
            Select Package
          </button>
          </form>
        </div>
        <br><br>
        {% endfor %}
      </div>
      
      <br>
    </div> 
  </div>
  <!--FOR 1 DAY PACKAGES-->


  <!--FOR 2 DAY PACKAGES-->
  {% elif day == '2' %}
  <div class="top-part">
    <h2>2 DAY PACKAGES</h2>
  </div>
  <br>
  <br>
  <div class="container page-container">
    <div class="row">
      <div class="col custom-col-2">
        <div class="landscape-filter-part">
          <h5>CHOOSE YOUR LANDSCAPE</h5>
          <form class="filter-form-div" id="filterForm" action="packageview" method="POST">
            {% csrf_token %}
            <h4><label><input type="checkbox" name="filter" value="Temple"> Temple</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Beach"> Beach</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Park"> Park</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Museum"> Museum</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Waterfalls"> Waterfalls</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Hill"> Hill</label></h4>
            
            <button type="submit" name="filterform">Apply Filters</button>
          </form>
        </div>
      </div>
      
      <div class="col custom-col">
        {% for packagecode,packagedetailslist in mainpackagedictcopy.items %}
        <div class="container">
          <h4>Package:{{packagecode}}</h4></li>
          <br>
          <br>
          <div class="row row-cols-3">  
            <br>
            {% for package in packagedetailslist %}
            <div class="col">
                  <h5>{{ package.5 }}</h5>
                  <ul type="square">
                    <li type="none">
                      <br>
                      <img src="{{package.10.url}}" alt="no image found" style="height: 150px; width:150px;"></li>
                    <li>Location    :{{package.6}}</li>
                    <li>Landscape   :{{package.7}}</li>
                    <li>Cafespot    :{{package.8}}</li>
                    <li>Description :{{package.9}}</li>
                    <br>
                  </ul>
            </div> 
            {% endfor %}
          </div>
        </div>
        <div class="select-package-button-part">
          <form method="post" action="packageview">
            {% csrf_token %}
            <input type="hidden" name="package_code" value="{{ packagecode }}">
            <button
            class="nav-b btn btn-outline-secondary me-2"
            type="submit"
            name="itinerary"
          >
            Select Package
          </button>
          </form>
        </div>
        <br><br>
        {% endfor %}
      </div>
      
      <br>
    </div> 
  </div>
  
  <!--FOR 2 DAY PACKAGES-->


  <!--FOR 3 DAY PACKAGES-->
  {% elif day == 3 %}
  <b>3 DAY PACKAGES</b>
  <h2>1 DAY PACKAGES</h2>
  <br>
  <br>
  {% for packagecode,packagedetailslist in mainpackagedictcopy.items %}
    <h4>Package:{{packagecode}}</h4></li>
    <br>
    <br>
    <div class="conatiner">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'images/logo.png' %}" class="d-block " alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/Travel(1).jpg' %}" class="d-block " alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/logo.png' %}" class="d-block " alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col d-grid justify-content-center">
          {% for package in packagedetailslist %}
                <h5>{{ package.4 }}</h5>
                <br> 
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="select-package-button-part">
      <form method="post" action="packageview">
        {% csrf_token %}
        <input type="hidden" name="package_code" value="{{ packagecode }}">
        <button
        class="nav-b btn btn-outline-secondary me-2"
        type="submit"
        name="itinerary"
      >
        Select Package
      </button>
      </form>
    </div>
  
  <br><br>
  <!--
    <p>{{packagedetailslist}}</p>
  -->
  {% endfor %}
  <!--FOR 3 DAY PACKAGES-->


  <!--FOR 4 DAY PACKAGES-->
  {% elif day == 4 %}
  <div class="top-part">
    <h2>4 DAY PACKAGES</h2>
  </div>
  <br>
  <br>
  <div class="container page-container">
    <div class="row">
      <div class="col custom-col-2">
        <div class="landscape-filter-part">
          <h5>CHOOSE YOUR LANDSCAPE</h5>
          <form class="filter-form-div" id="filterForm" action="packageview" method="POST">
            {% csrf_token %}
            <h4><label><input type="checkbox" name="filter" value="Temple"> Temple</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Beach"> Beach</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Park"> Park</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Museum"> Museum</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Waterfalls"> Waterfalls</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Hill"> Hill</label></h4>
            
            <button type="submit" name="filterform">Apply Filters</button>
          </form>
        </div>
      </div>
      
      <div class="col custom-col">
        {% for packagecode,packagedetailslist in mainpackagedictcopy.items %}
        <div class="container">
          <h4>Package:{{packagecode}}</h4></li>
          <br>
          <br>
          <div class="row row-cols-3">  
            <br>
            {% for package in packagedetailslist %}
            <div class="col">
                  <h5>{{ package.5 }}</h5>
                  <ul type="square">
                    <li type="none">
                      <br>
                      <img src="{{package.10.url}}" alt="no image found" style="height: 150px; width:150px;"></li>
                    <li>Location    :{{package.6}}</li>
                    <li>Landscape   :{{package.7}}</li>
                    <li>Cafespot    :{{package.8}}</li>
                    <li>Description :{{package.9}}</li>
                    <br>
                  </ul>
            </div> 
            {% endfor %}
          </div>
        </div>
        <div class="select-package-button-part">
          <form method="post" action="packageview">
            {% csrf_token %}
            <input type="hidden" name="package_code" value="{{ packagecode }}">
            <button
            class="nav-b btn btn-outline-secondary me-2"
            type="submit"
            name="itinerary"
          >
            Select Package
          </button>
          </form>
        </div>
        <br><br>
        {% endfor %}
      </div>
      
      <br>
    </div> 
  </div>
  <!--FOR 4 DAY PACKAGES-->


  <!--FOR 5 DAY PACKAGES-->
  {% elif day == 5 %}
  <div class="top-part">
    <h2>5 DAY PACKAGES</h2>
  </div>
  <br>
  <br>
  <div class="container page-container">
    <div class="row">
      <div class="col custom-col-2">
        <div class="landscape-filter-part">
          <h5>CHOOSE YOUR LANDSCAPE</h5>
          <form class="filter-form-div" id="filterForm" action="packageview" method="POST">
            {% csrf_token %}
            <h4><label><input type="checkbox" name="filter" value="Temple"> Temple</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Beach"> Beach</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Park"> Park</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Museum"> Museum</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Waterfalls"> Waterfalls</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Hill"> Hill</label></h4>
            
            <button type="submit" name="filterform">Apply Filters</button>
          </form>
        </div>
      </div>
      
      <div class="col custom-col">
        {% for packagecode,packagedetailslist in mainpackagedictcopy.items %}
        <div class="container">
          <h4>Package:{{packagecode}}</h4></li>
          <br>
          <br>
          <div class="row row-cols-3">  
            <br>
            {% for package in packagedetailslist %}
            <div class="col">
                  <h5>{{ package.5 }}</h5>
                  <ul type="square">
                    <li type="none">
                      <br>
                      <img src="{{package.10.url}}" alt="no image found" style="height: 150px; width:150px;"></li>
                    <li>Location    :{{package.6}}</li>
                    <li>Landscape   :{{package.7}}</li>
                    <li>Cafespot    :{{package.8}}</li>
                    <li>Description :{{package.9}}</li>
                    <br>
                  </ul>
            </div> 
            {% endfor %}
          </div>
        </div>
        <div class="select-package-button-part">
          <form method="post" action="packageview">
            {% csrf_token %}
            <input type="hidden" name="package_code" value="{{ packagecode }}">
            <button
            class="nav-b btn btn-outline-secondary me-2"
            type="submit"
            name="itinerary"
          >
            Select Package
          </button>
          </form>
        </div>
        <br><br>
        {% endfor %}
      </div>
      
      <br>
    </div> 
  </div>
  <!--FOR 5 DAY PACKAGES-->


  <!--FOR 6 DAY PACKAGES-->
  {% elif day == 6 %}
  <div class="top-part">
    <h2>6 DAY PACKAGES</h2>
  </div>
  <br>
  <br>
  <div class="container page-container">
    <div class="row">
      <div class="col custom-col-2">
        <div class="landscape-filter-part">
          <h5>CHOOSE YOUR LANDSCAPE</h5>
          <form class="filter-form-div" id="filterForm" action="packageview" method="POST">
            {% csrf_token %}
            <h4><label><input type="checkbox" name="filter" value="Temple"> Temple</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Beach"> Beach</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Park"> Park</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Museum"> Museum</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Waterfalls"> Waterfalls</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Hill"> Hill</label></h4>
            
            <button type="submit" name="filterform">Apply Filters</button>
          </form>
        </div>
      </div>
      
      <div class="col custom-col">
        {% for packagecode,packagedetailslist in mainpackagedictcopy.items %}
        <div class="container">
          <h4>Package:{{packagecode}}</h4></li>
          <br>
          <br>
          <div class="row row-cols-3">  
            <br>
            {% for package in packagedetailslist %}
            <div class="col">
                  <h5>{{ package.5 }}</h5>
                  <ul type="square">
                    <li type="none">
                      <br>
                      <img src="{{package.10.url}}" alt="no image found" style="height: 150px; width:150px;"></li>
                    <li>Location    :{{package.6}}</li>
                    <li>Landscape   :{{package.7}}</li>
                    <li>Cafespot    :{{package.8}}</li>
                    <li>Description :{{package.9}}</li>
                    <br>
                  </ul>
            </div> 
            {% endfor %}
          </div>
        </div>
        <div class="select-package-button-part">
          <form method="post" action="packageview">
            {% csrf_token %}
            <input type="hidden" name="package_code" value="{{ packagecode }}">
            <button
            class="nav-b btn btn-outline-secondary me-2"
            type="submit"
            name="itinerary"
          >
            Select Package
          </button>
          </form>
        </div>
        <br><br>
        {% endfor %}
      </div>
      
      <br>
    </div> 
  </div>
  <!--FOR 6 DAY PACKAGES-->


  <!--FOR 7 DAY PACKAGES-->
  {% elif day == '7' %}
  <div class="top-part">
    <h2>7 DAY PACKAGES</h2>
  </div>
  <br>
  <br>
  <div class="container page-container">
    <div class="row">
      <div class="col custom-col-2">
        <div class="landscape-filter-part">
          <h5>CHOOSE YOUR LANDSCAPE</h5>
          <form class="filter-form-div" id="filterForm" action="packageview" method="POST">
            {% csrf_token %}
            <h4><label><input type="checkbox" name="filter" value="Temple"> Temple</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Beach"> Beach</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Park"> Park</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Museum"> Museum</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Waterfalls"> Waterfalls</label></h4>
            <h4><label><input type="checkbox" name="filter" value="Hill"> Hill</label></h4>
            
            <button type="submit" name="filterform">Apply Filters</button>
          </form>
        </div>
      </div>
      
      <div class="col custom-col">
        {% for packagecode,packagedetailslist in mainpackagedictcopy.items %}
        <div class="container">
          <h4>Package:{{packagecode}}</h4></li>
          <br>
          <br>
          <div class="row row-cols-3">  
            <br>
            {% for package in packagedetailslist %}
            <div class="col">
                  <h5>{{ package.5 }}</h5>
                  <ul type="square">
                    <li type="none">
                      <br>
                      <img src="{{package.10.url}}" alt="no image found" style="height: 150px; width:150px;"></li>
                    <li>Location    :{{package.6}}</li>
                    <li>Landscape   :{{package.7}}</li>
                    <li>Cafespot    :{{package.8}}</li>
                    <li>Description :{{package.9}}</li>
                    <br>
                  </ul>
            </div> 
            {% endfor %}
          </div>
        </div>
        <div class="select-package-button-part">
          <form method="post" action="packageview">
            {% csrf_token %}
            <input type="hidden" name="package_code" value="{{ packagecode }}">
            <button
            class="nav-b btn btn-outline-secondary me-2"
            type="submit"
            name="itinerary"
          >
            Select Package
          </button>
          </form>
        </div>
        <br><br>
        {% endfor %}
      </div>
      
      <br>
    </div> 
  </div>
  <!--FOR 7 DAY PACKAGES-->


  {% endif %}
  <!--
  <small>spot.touristspot</small>
  -->
  
</body>
</html>